{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Asistencia{% endblock %}</title>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/reloj.css' %}">
    <link rel="stylesheet" href="{% static 'css/entrada_salida.css' %}">
    <link rel="stylesheet" href="{% static 'css/usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'css/barra_navegacion.css' %}">
    <link rel="stylesheet" href="{% static 'css/barra_izquierda.css' %}">

    
</head>
<body>
    <div>
        {% include "barra_navegacion.html" %}
    </div>

    <div class="content">
        {% block content %}
             <div id="reloj"></div>
            {% include "entrada_salida.html" %}
            {% include 'barra_izquierda.html' %}
        {% endblock %}
    </div>


    <script src="{% static 'js/reloj.js' %}"></script>
    <script src="{% static 'js/tiempo_registro.js' %}"></script>
    <script src="{% static 'js/barra_izquierda.js' %}"></script>
    <script src="{% static 'js/barra_navegacion.js' %}"></script>
</body>
</html>
