

{% extends 'home.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<h2>Perfil de {{ usuario.username }}</h2>
<form method="post">
    {% csrf_token %}
    <label>Apellidos:</label>
    <input type="text" name="apellidos" value="{{ usuario.apellidos }}">
    
    <label>Género:</label>
    <select name="genero">
        <option value="M" {% if usuario.genero == 'M' %}selected{% endif %}>Masculino</option>
        <option value="F" {% if usuario.genero == 'F' %}selected{% endif %}>Femenino</option>
        <option value="O" {% if usuario.genero == 'O' %}selected{% endif %}>Otro</option>
    </select>
    
    <label>Cargo:</label>
    <select name="cargo">
        <option value="B" {% if usuario.cargo == 'B' %}selected{% endif %}>Becado</option>
        <option value="P" {% if usuario.cargo == 'P' %}selected{% endif %}>Promotor</option>
        <option value="JZ" {% if usuario.cargo == 'JZ' %}selected{% endif %}>Jefe de Zona</option>
    </select>
    
    <label>Correo electrónico:</label>
    <input type="email" name="correo_electronico" value="{{ usuario.correo_electronico }}">
    
    <label>Número de carnet:</label>
    <input type="text" name="numero_carnet" value="{{ usuario.numero_carnet }}">
    
    <label>Celular:</label>
    <input type="text" name="celular" value="{{ usuario.celular }}">
    
    <img src="{% if user.foto_perfil %}{{ user.foto_perfil.url }}{% else %}/static/default-profile.jpg{% endif %}" alt="Foto de perfil" width="150">


    <button type="submit">Guardar cambios</button>
    <a href="{% url 'cerrar_sesion' %}">Cerrar Sesión</a>

</form>
{% endblock %}

