
/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Formularios en fila */
.form-container {
    display: flex;
    justify-content: space-between;
    background: rgb(158, 65, 122);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    gap: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botones */
.btn {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #0056b3;
}

/* Contenedor de registros */
.registro-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Secciones de Entradas y Salidas */
.registro-section {
    background:#212b36;
    padding: 1px 15px ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/*Registro entrada*/
.registro_entrada{
    margin: 0px;
    border: 0;
    padding: none;
    background-color: #61ca6f;
    border-radius: 15px 0 0 15px;
    text-align: center;

}
/*Registro salida*/
.registro_salida{
    margin: 0px;
    border: 0;
    background-color: #a8424f;
    border-radius: 0 15px 15px 0;

}
/* Lista de usuarios */
.registro-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Tarjetas de usuarios */
.card {
    display: flex;  /* Alinea la imagen y la información en fila */
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 15px; /* Espaciado entre la imagen y los datos */
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

}
.card img:hover{
    border: 2px solid rgb(4, 94, 4);
}

.info {
    display: flex;
    flex-direction: column;

}
.info p {
    padding: 1px;
    margin: 0;
    border: 0;
    font-size: 14px;
}
.NombreUsuario {
    font-size: 24px; /* Tamaño de letra más grande */
    font-weight: bold; /* Negrita */
    color: #06a706; /* Amarillo brillante */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Sombra negra para resaltar */
    background-color: transparent; /* Fondo llamativo */
    padding: 5px 10px; /* Espaciado alrededor del texto */
    border-radius: 8px; /* Bordes redondeados */
    display: inline-block; /* Ajusta el tamaño al contenido */
}


/* Responsive */
@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
        gap: 10px;
    }

    .registro-container {
        grid-template-columns: 1fr;
    }

    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
